<h2>Course Info</h2>
<form #courseForm="ngForm" *ngIf="courseFind">

	<!-- Name -->
  <div class="form-group row mb-3">
    <label class="col-sm-2 col-form-label" for="">Name:</label>
    <div class="col-sm-10">
      <input
        [(ngModel)]="courseFind.name"
        class="form-control"
        name="name"
        #courseName="ngModel"
        required
        [ngClass]="{ 'is-invalid': courseName.invalid }"
      />

      <div class="invalid-feedback">
        <span>Course name is required</span>
      </div>
    </div>
  </div>

  <!-- Price -->
  <div class="form-group row mb-3">
    <label class="col-sm-2 col-form-label" for="">Price:</label>
    <div class="col-sm-10">
      <input
        [(ngModel)]="courseFind.price"
        class="form-control"
        name="price"
        #coursePrice="ngModel"
        required
        [ngClass]="{ 'is-invalid': coursePrice.invalid }"
		type="number"
      />

      <div class="invalid-feedback">
        <span>Course price is required</span>
      </div>
    </div>
  </div>

  <!-- Rating -->
  <div class="form-group row mb-3">
    <label class="col-sm-2 col-form-label" for="">Rating:</label>
    <div class="col-sm-10">
      <input
        [(ngModel)]="courseFind.rating"
        class="form-control"
        name="rating"
        #courseRaintg="ngModel"
        required
        [ngClass]="{ 'is-invalid': courseRaintg.invalid }"
		type="number"
      />

      <div class="invalid-feedback">
        <span>Course rating is required</span>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="form-group row mb-3">
    <label class="col-sm-2 col-form-label" for="">Description:</label>
    <div class="col-sm-10">
      <textarea
        [(ngModel)]="courseFind.description"
        class="form-control"
        name="description"
        #courseDescription="ngModel"
        required
        [ngClass]="{ 'is-invalid': courseDescription.invalid }"
      ></textarea>

      <div class="invalid-feedback">
        <span>Course description is required</span>
      </div>
    </div>
  </div>

  <button [disabled]="courseForm.invalid" [routerLink]="'/courses'" class="btn btn-primary m-2" (click)="save()">Save</button>
  <button [routerLink]="'/courses'" class="btn btn-secondary">Back</button>
</form>
